<div *ngIf="transactions.length === 0">No Transactions available for this block</div>

<table class="table table-hover table-stripped" *ngIf="transactions.length > 0">
    <thead>
        <tr>
            <th>#</th>
            <th>From</th>
            <th>To</th>
            <th>Amount</th>
            <th>Timestamp</th>
            <th>Valid</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let trans of transactions; index as index;">
            <td>{{index}}</td>
            <td class="text-truncate">{{trans.fromAddress}}
                <span *ngIf="!trans.fromAddress">System</span>
            </td>
            <td class="text-truncate">{{trans.toAddress}}</td>
            <td class="text-truncate">{{trans.amount}}
                <span *ngIf="!trans.fromAddress" class="text-muted"><br /><small>Block Reward</small></span>
            </td>
            <td class="text-truncate">{{trans.timestamp | date: 'MMM d, y, HH:mm'}}</td>
            <td style="max-width: 40px;">
                <!-- <span *ngIf="trans.isValid()">Yes</span>
                <span *ngIf="!trans.isValid()">No</span> -->
                Yes
            </td>
        </tr>
    </tbody>
</table>